
body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.clearfix{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

header{
    background: url("../img/background_header.png") no-repeat center top / cover;
    height: 220px;
}
.header{
    width: 1200px;
    margin:  0 auto;
}
.logo{
    margin-top: 25px;
    height: 100px;
    width: 90px;
    float: left;
}
nav{
    float: right;
    margin-top: 65px;
}
.menu{
    padding: 0;
    margin: 0;
    display: block;
}
.menu li{
    float: left;
    display: block;
    margin-right: 41px;
}
.menu  a{
    color: #3df1ff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.title h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}
.lessons{
    max-width: 1080px;
    margin: 0 auto;
}

.lesson{

    background: url("../img/card_back.png") no-repeat center top / cover;
    width: 320px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    display: inline-block;

    margin: 40px;
    float: right ;
}
.lesson a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    color: #000000;
}

.button{

    background: linear-gradient(to top, #000000, #fff);
    color: #3df1ff;
    border-radius: 8px;
    width: 240px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;


}
